# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Environment
venv/
.env
.venv
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Git
.git
.gitignore

# Local development settings
instance/
.webassets-cache

# Jenkins
Jenkinsfile

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Docker
Dockerfile
.dockerignore

# Logs
*.log

cicd.yaml
